DB  
DBMS  
RDBMS  
DB설계) ERD

open source Database  
Serverless  
Self-contained(Embeded)  
Single Disk File

In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [4]:
sqlite3.sqlite_version

'3.27.2'

In [20]:
conn = sqlite3.connect(':memory:') #:momory:로 하면 onmemory상에 작업

In [6]:
type(conn)

sqlite3.Connection

In [21]:
cur = conn.cursor() #제대로 된 방법

In [8]:
type(cur)

sqlite3.Cursor

In [9]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [10]:
dir(conn) #임시로 커서 생성->비추천

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

execute : 세미콜론으로 끝나는 하나의 문을 전달.  
executemany : 하나의 sql문을 가지고 sequencial한 걸 반복적으로 집어넣을 때  
ececutescript : 여러 개의 sql문 실행  
fetchone : 하나 가져옴  
fetchmany : 여러개 가져옴  
fetchall : 모두 가져옴

In [11]:
cur.execute("select sqlite_version()")

In [12]:
cur.fetchall() #list 타입으로 가져옴 [tuple]

[('3.27.2',)]

In [13]:
sqlite3.complete_statement("select sqlite_version()") #sql구문이 문법에 맞는지 안 맞는지 체크 sql구문을 올바르게 마지막까지 썼는지

False

In [14]:
sqlite3.complete_statement("select sqlite_version();") #semicolone 반드시 필요

True

위의 구문이 에러 안 나고 실행된 이유?  
execute()안에 넣은 게 하나의 문이라는 뜻이니까 세미콜론이 없어도 실행되었음.  
그러나 executescript에 넣을 때는 세미콜론 반드시

NULL, INTEGER, REAL(실수형), TEXT, BLOB(byte type의 large of bytes) <- sqlite에서 지원하는 데이터 타입

In [22]:
cur.execute("create table people (name_last, age)")

In [23]:
who = "Yeltsin"
age = 72

In [24]:
#This is the qmark style:
cur.execute("insert into people values (?, ?)", (who, age))

In [32]:
#And this is the named style:
cur.execute("select * from people where name_last=:who and age=:age", {"who": who, "age": age})
#쿼리를 건드리지 않은 채 뒤에 있는 데이터만 바꿔주면 된다.

In [33]:
print(cur.fetchone())

('Yeltsin', 72)

In [28]:
#cur.executemany('SQL', params)

sql = "insert into people values (?, ? )"
curData = [('A', 1), ('B', 2), ('C', 3)]

cur.executemany(sql, curData)

In [29]:
print(cur.fetchone())

None

In [34]:
sql = "insert into people VALUES(:who, :age)"
curData = [{"who": 'D', "age":4}, {"who": 'E', "age":5}]
cur.executemany(sql, curData)

In [35]:
cur.execute("SELECT * FROM people")
cur.fetchall()

[('Yeltsin', 72), ('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)]

executescript : nonstandard

In [36]:
cur.executescript("""  
    create table person (  
        first_name text primary key,  
        last_name text not null  
    );  
    
    insert into person values ('name', 'kim')  
""")  
#항상 하기 전 자동으로 커밋하고 이 작업 실행

select는 executescript 안에 쓸 수 없음 select라는 건 fetch를 하기 위함.

show tables 해도 해석을 못해서 못 가져옴

In [37]:
cur.execute("SELECT *FROM person")
cur.fetchall()

[('name', 'kim')]

In [38]:
# cur.fetchone()
# cur.fetchmany(size)
# cur.fetchall()

database의 일관성이 중요 -> 안전하게 닫아줘야 함 conn.close()

In [81]:
conn.close()

In [40]:
conn

In [2]:
conn = sqlite3.connect('sqlite190708.db')
print("Opened database seccessfully")

cur = conn.cursor()

cur.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);
    ''')
print("Table created successfully")

Opened database seccessfully
Table created successfully

In [67]:
cur.execute('drop table company')

In [3]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'Paul', 32, 'California', 20000.00)");
print(cur.lastrowid)
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (:id, :name, :age, :address, :salary)",
            {'id':2, 'name':'Allen', 'age':25, 'address':'Texas', 'salary':15000.00});
print(cur.lastrowid)
data = [(3,'Teddy',23,'Norway',20000.00),
       (4, 'Mark',25,'Rich-Mond',65000.00)]
cur.executemany("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) VALUES (?,?,?,?,?)",data);
print(cur.lastrowid)
cur.executescript("""
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (5, 'Mark1', 25, 'Rich-Mond', 65000.00);
    
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (6, 'Mark2', 25, 'Rich-Mond', 65000.00);
    """);
print(cur.lastrowid)

1
2
2

TypeError: function takes exactly 2 arguments (1 given)

In [7]:
cur.lastrowid

4

In [5]:
conn.commit()

In [6]:
cur.execute("SELECT id, name, address, salary from COMPANY")

for row in cur:
    print("ID = ", row[0])
#    print(type(row[0]))
    print("NAME = ", row[1])
#    print(type(row[1]))
    print("ADDRESS = ", row[2])
#    print(type(row[2]))
    print("SALARY = ", row[3], end='\n\n')
#    print(type(row[3]))
    
print("Operation done successfully")

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully